body {}

.tiled-background {
    background: url("img/backgroundtiling.png") repeat;
    -webkit-animation: scrolling 120s linear infinite;
    -moz-animation: scrolling 120s linear infinite;
    -o-animation: scrolling 120s linear infinite;
    animation: scrolling 120s linear infinite;

    font-family: MSGothic;
}

a {
    color: gray;
	text-decoration: underline dotted;
}

a:visited {
    color: gray;
}

.main-div {
    color: var(--black);
	text-align: justify;
	max-width: 476px;
	padding: 4em;
	margin-inline: auto;
}

.content {
    display: grid;
	grid-template-columns: 12em 1fr;
	grid-template-rows: 1fr 140px;
	justify-content: space-around;
	gap: 1em 2.5em;
	margin-block: 2em;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header {
	display: flex;
	align-items: end;
	gap: 4em;

	p {margin-block: 0}
}

footer {
	font-size: 0.875em;
    grid-column: 1 / -1;
}

.centered-image {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;
    
    min-width: 200px;
    min-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {color: white;}
    img {text-align:center;}
}

.shortcut-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
    padding: 5px;
}

.shortcut-button {
    width: 32px;
    height: 32px;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
    opacity: 0.5;
}

.shortcut-button:hover {
    background-color: #ddd;
    opacity: 1;
}

.shortcut-button img {
    width: 24px;
    height: 24px;
}

@font-face {
    font-family: MSGothic;
    src: url(ttf/MSGothic.ttf);
}

@-webkit-keyframes scrolling {
    from{
        background-position: 0% 0%;
    }
    to{
        background-position: 105% 105%;
    }
}