body {
    background-color: #1B1B1E;
    font-family: 'Eurostile Regular';
}

.main {
    margin: auto;
    width: 50%;
}

.header {
    color: #d8dbe2;
    background-color: #373f51;
    border-radius: 0px 0px 25px 0px;

    padding: 10px;

    position: relative;
}

.header a {
    color: white;
    text-decoration: none;

    font-size: clamp(1rem, 2vw, 2.5rem);
}

.header a:hover {
    color: #58A4B0;
}

.header img {
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translateY(-51%);
    height: 100%;
    width: auto;
}

.section {
    color: #d8dbe2;
    display: flex;
    width: 100%;
}

.content {
    flex: 1;
    padding: 1rem;

    margin: 2%;
    overflow: hidden;
}

.content p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
}

.colored-container {
    background-color: #373f51;
}

.sided-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}

.text-section {
    flex: 2;
    padding: 8px;
}

.image-section img {
    image-rendering: pixelated;
    max-width: 200px;
    height: auto;
}

.balatro-shadow {
    filter: drop-shadow(0px 5px #22222281);
}

.sidebar {
    flex: 0 0 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 4px;
}

.sidebar .sub-label {
    margin-bottom: 0.5rem;
}

a {
    color: white;
    margin-bottom: 0.5rem;
    cursor: pointer;
    text-decoration: underline dotted;
}

p {
    text-align: justify;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bg-image {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hidden-text {
    color: white;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    padding: 5px 10px;
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
}

.slide-left {
    transform: translateX(-75px); 
}

.slide-right {
    transform: translateX(0);
}

.float-motion {
  animation: float 2s ease-in-out infinite;
}

.wiggle-motion {
  animation: wiggle 2s ease-in-out infinite;
}

.console {
    padding: 2.5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    font-family: 'MaruMinya';
}

#output {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#cmd {
    min-height: 1.2em;
}

#output::-webkit-scrollbar {
    display: none;
}

.console p span {
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

audio {
    display: none;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(-1deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(1deg);
    }
}

@font-face {
    font-family: 'Eurostile Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile Regular'), url('fonts/eurostile.woff') format('woff');
}

@font-face {
    font-family: 'ANAKRON';
    font-style: normal;
    font-weight: normal;
    src: local('ANAKRON'), url('fonts/ANAKRON.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruMinya';
    font-style: normal;
    font-weight: normal;
    src: local('ANAKRON'), url('fonts/x12y12pxMaruMinya.woff') format('woff');
}

/* credit to local58's website */
.trackfx { 
    opacity:0.95;
    -webkit-animation-name: trackanim;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes trackanim {
	from { 
        text-shadow:   4px 0px 0px rgba(151, 91, 222, 0.6), -3px 0px 3px rgba(152, 222, 91, 0.8);  
	}
	to {
        text-shadow:  0.6px 0px 3px rgba(151, 91, 222, 0.8), -4px 0px 0px rgba(152, 222, 91, 0.6);
	}
    to {
        text-shadow:  3px 0px 0px rgba(151, 91, 222, 0.4), -2px 0px 0px rgba(152, 222, 91, 0.7);
	}
}